<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>rails_test</title>
  
  <!-- ユーザーや検索エンジンにページの概要や要約を伝える役割-->
  <meta name="description" content="html/cssの基礎学習">

  <!-- 文書の著作者の名前を記述する為に指定-->
  <meta name="author" content="keisuke-yoshida">

  <!-- 端末の画面の表示方法-->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<form method="post" action="/loop_page/page4_post">
 <p>
 値：<input type="text" name="num"/><br />
 <input type="submit" value="送信" />
 </p>
</form>

<h1>
<form method="post" action="/loop_page/page5">
<input class="btn btn-primary" type="submit" value="加算" />
<form method="post" action="/loop_page/page5">
<input class="btn btn-primary" type="submit" value="減算" />
<form method="post" action="/loop_page/page5">
<input class="btn btn-primary" type="submit" value="乗算" />
<form method="post" action="/loop_page/page5">
<input class="btn btn-primary" type="submit" value="除算" />

<h2>
<%= form_for @number1 do |form| %>
<%= form_for @number2 do |form| %>
値：<input type="text" name="number1"/><br/>
値：<input type="text" name="number2"/><br/>
</h2>

</form>
<h1>

<body>
</html>